@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  /* color: #ffbf1e; */
}

/* .iconmenu {
  background-position: -30px -30px;
  display: block;
  width: 20px;
  height: 18px;
}

.spriticon {
  background: url(https://d3pc1xvrcw35tl.cloudfront.net/assets/images/dm-video-tiles//sprite-image-v0.0.png) no-repeat;
} */

.text-brand-yellow {
  color: #ffbf1e;
}

/* .headstrip {
  background: url(https://d3pc1xvrcw35tl.cloudfront.net/assets/images/dm-video-tiles//headerbg_mobile-v0.0.jpg) no-repeat;
  background-size: 100% auto;
} */

li {
  list-style: none;
  display: block;
}

/* Optional: if not using Tailwind directly for arrows */
.slick-prev,
.slick-next {
  z-index: 10;
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  transition: background 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
  background: rgba(255, 255, 255, 0.5);
}

.slick-prev {
  left: 8px !important;
}

.slick-next {
  right: 8px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-css{
  scrollbar-color: gray transparent; /* thumb color, track color */
  scrollbar-width: thin;            /* optional: thin or auto */
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.animate-pulse {
  background: linear-gradient(90deg, #1a1a1a 25%, #2a2a2a 50%, #1a1a1a 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
